<div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8 pb-12 sm:pb-20">
    <h2 class="text-4xl font-semibold sm:text-4xl text-neutral-900 dark:text-white">Community projects</h2>
    <p class="mt-4 text-xl text-neutral-400">See what others are building, get inspired.</p>
    <ul class="mt-6 list-disc list-inside space-y-2 text-neutral-900 dark:text-white">
        <li>
            <a
                href="https://gitlab.com/AsbjornOlling/nw-code/"
                target="_blank"
                class="transition-colors hover:text-primary dark:hover:text-primary">Interactive chat interface in Python</a>
        </li>
        <li>
            <a
                href="https://gitlab.com/AsbjornOlling/emocli-rust/"
                target="_blank"
                class="transition-colors hover:text-primary dark:hover:text-primary">Emoji search in Rust</a>
        </li>
    </ul>
</div>