<div class="px-6 lg:px-8 pb-16">
    <div class="mx-auto max-w-6xl">
        <h2 class="text-4xl font-semibold sm:text-4xl text-neutral-900 dark:text-white">Community projects</h2>
        <p class="mt-4 text-xl text-neutral-400">See what others are building, get inspired.</p>
        <ul class="mt-6 list-disc list-inside space-y-2 text-neutral-900 dark:text-white">
            <li>
                <a
                    href="https://github.com/marcussimmelkiaer-lgtm/localchat"
                    target="_blank"
                    class="transition-colors hover:text-primary dark:hover:text-primary">LocalChat - A clean, ChatGPT-style desktop chat app
                    that runs a local LLM on your computer</a>
            </li>
            <li>
                <a
                    href="https://store.steampowered.com/app/3748310/Wanderers_Outpost/"
                    target="_blank"
                    class="transition-colors hover:text-primary dark:hover:text-primary">Wanderers' Outpost - Godot game on Steam</a>
            </li>
            <li>
                <a
                    href="https://gitlab.com/AsbjornOlling/nw-code/"
                    target="_blank"
                    class="transition-colors hover:text-primary dark:hover:text-primary">Interactive chat interface in Python</a>
            </li>
            <li>
                <a
                    href="https://gitlab.com/AsbjornOlling/emocli-rust/"
                    target="_blank"
                    class="transition-colors hover:text-primary dark:hover:text-primary">Emoji search in Rust</a>
            </li>
        </ul>
    </div>
</div>