<div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8 py-12 sm:py-20">
    <h2 class="text-3xl font-semibold sm:text-5xl text-neutral-900 dark:text-white">Our starters examples</h2>
    <p class="mt-4 text-xl text-neutral-400">Quickly try our inference engine and see how to implement on-device AI.</p>
    <div class="mt-10 flex flex-wrap justify-start items-center gap-x-10 gap-y-8 sm:gap-x-24 dark:text-white">
        <a
            href="https://github.com/nobodywho-ooo/react-native-starter-example"
            target="_blank"
            class="flex flex-col items-center gap-y-2 transition-colors hover:text-primary">
            {% svg "react-native", "size-20" %}
            <p>React Native</p>
        </a>
        <a
            href="https://github.com/nobodywho-ooo/flutter-starter-example"
            target="_blank"
            class="flex flex-col items-center gap-y-2 transition-colors hover:text-primary">
            {% svg "flutter", "size-20" %}
            <p>Flutter</p>
        </a>
    </div>
</div>