<div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <h2 class="text-center text-lg/8 text-neutral-900 font-semibold dark:text-white">Pick any model from Hugging Face.
        </h2>
        <div class="mt-10 flex flex-wrap justify-center items-center gap-x-10 gap-y-8 sm:gap-x-24 dark:text-white">
            {% svg "mistral", "size-14" %}
            {% svg "qwen", "size-14" %}
            {% svg "openai", "size-14" %}
            {% svg "gemini", "size-14" %}
            {% svg "deepseek", "size-14" %}
        </div>
    </div>
</div>