<div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8">
    <h2 class="text-4xl font-semibold tracking-tight text-balance text-neutral-900 sm:text-5xl dark:text-white">Run
        anywhere, no servers required.</h2>
    <h2 class="text-4xl font-semibold tracking-tight text-neutral-500 sm:text-5xl dark:text-neutral-400">On-device inference
        engine that runs in smartwatch, mobile and desktop apps.</h2>
    <div class="mt-24 grid grid-cols-2 sm:flex sm:flex-wrap sm:justify-around items-center gap-x-10 gap-y-8 sm:gap-x-2 place-items-center text-neutral-600 dark:text-white">
        {% svg "apple", "size-14" %}
        {% svg "android", "size-14" %}
        {% svg "windows", "size-14" %}
        {% svg "linux", "size-14" %}
    </div>
</div>