<div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8 py-24 sm:py-32">
    <h2 class="mt-2 max-w-lg text-4xl font-semibold tracking-tight text-pretty text-neutral-950 sm:text-5xl dark:text-white">
        Fast & Secure inference
    </h2>
    <div class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-2">
        <div class="relative lg:col-span-3">
            <div class="absolute inset-0 rounded-lg bg-white max-lg:rounded-t-4xl lg:rounded-tl-4xl dark:bg-neutral-800"></div>
            <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]
                    max-lg:rounded-t-[calc(2rem+1px)] lg:rounded-tl-[calc(2rem+1px)]">
                <div class="bento-hover h-60 flex items-center justify-center">
                    <div class="bento-hover-deco"></div>
                    {% svg "bolt", "size-38", ["#FBD633", "#fbaf0b"] %}
                </div>
                <div class="p-10 pt-4">
                    <h3 class="text-sm/4 font-semibold text-primary">Performance</h3>
                    <p class="mt-2 text-lg font-medium tracking-tight text-neutral-950 dark:text-white">Fast on any hardware</p>
                    <p class="mt-2 max-w-lg text-sm/6 text-neutral-600 dark:text-neutral-400">
                        Optimized kernels for Metal, CUDA, and Vulkan. Get high-performance inference even on integrated graphics and mobile
                        chips.
                    </p>
                </div>
            </div>
            <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5 max-lg:rounded-t-4xl
                lg:rounded-tl-4xl dark:outline-white/15"></div>
        </div>
        <div class="relative lg:col-span-3">
            <div class="absolute inset-0 rounded-lg bg-white lg:rounded-tr-4xl dark:bg-neutral-800"></div>
            <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-tr-[calc(2rem+1px)]">
                <div class="bento-hover h-60 flex items-center justify-center">
                    <div class="bento-hover-deco"></div>
                    {% svg "lock", "size-38", ["#DBBFC6", "#644C52"] %}
                </div>
                <div class="p-10 pt-4">
                    <h3 class="text-sm/4 font-semibold text-primary">Privacy</h3>
                    <p class="mt-2 text-lg font-medium tracking-tight text-neutral-950 dark:text-white">Keep it private</p>
                    <p class="mt-2 max-w-lg text-sm/6 text-neutral-600 dark:text-neutral-400">Everything stays on your machine, no cloud
                        logging, no exceptions. Your prompts never leave the memory of your local GPU.</p>
                </div>
            </div>
            <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5 lg:rounded-tr-4xl
                dark:outline-white/15"></div>
        </div>
        <div class="relative lg:col-span-2">
            <div class="absolute inset-0 rounded-lg bg-white lg:rounded-bl-4xl dark:bg-neutral-800"></div>
            <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-bl-[calc(2rem+1px)]">
                <div class="h-60 flex items-center justify-center">
                    {% svg "offline", "size-24", ["#60ACFD", "#1777FF"] %}
                </div>
                <div class="p-10 pt-4">
                    <h3 class="text-sm/4 font-semibold text-primary">Offline</h3>
                    <p class="mt-2 text-lg font-medium tracking-tight text-neutral-950 dark:text-white">No internet needed</p>
                    <p class="mt-2 max-w-lg text-sm/6 text-neutral-600 dark:text-neutral-400">Run models in flight or in secure
                        environments.</p>
                </div>
            </div>
            <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5 lg:rounded-bl-4xl
                dark:outline-white/15"></div>
        </div>
        <div class="relative lg:col-span-2">
            <div class="absolute inset-0 rounded-lg bg-white dark:bg-neutral-800"></div>
            <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
                <div class="shake-on-hover h-60 flex items-center justify-center text-[#FFD21E]">
                    {% svg "huggingface", "size-24" %}
                </div>
                <div class="p-10 pt-4">
                    <h3 class="text-sm/4 font-semibold text-primary">Any model</h3>
                    <p class="mt-2 text-lg font-medium tracking-tight text-neutral-950 dark:text-white">Thousands of LLMs</p>
                    <p class="mt-2 max-w-lg text-sm/6 text-neutral-600 dark:text-neutral-400">Direct support for GGUF format.</p>
                </div>
            </div>
            <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5 dark:outline-white/15"></div>
        </div>
        <div class="relative lg:col-span-2">
            <div class="absolute inset-0 rounded-lg bg-white max-lg:rounded-b-4xl lg:rounded-br-4xl dark:bg-neutral-800"></div>
            <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]
                    max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-br-[calc(2rem+1px)]">
                <div class="h-60 flex items-center justify-center">
                    {% svg "banknotes", "size-24", ["#358A3D", "#92d698"] %}
                </div>
                <div class="p-10 pt-4">
                    <h3 class="text-sm/4 font-semibold text-primary">$0</h3>
                    <p class="mt-2 text-lg font-medium tracking-tight text-neutral-950 dark:text-white">Free</p>
                    <p class="mt-2 max-w-lg text-sm/6 text-neutral-600 dark:text-neutral-400">Completely free, no API keys, or usage fees.</p>
                </div>
            </div>
            <div class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5 max-lg:rounded-b-4xl
                lg:rounded-br-4xl dark:outline-white/15"></div>
        </div>
    </div>
</div>
<script src="{{ '/assets/js/gsap.min.js' | url }}"></script>
<script src="{{ '/assets/js/bento-hover.js' | url }}"></script>