<div class="px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-3xl text-center">
        <h1 class="text-4xl text-neutral-900 sm:text-5xl dark:text-white">Run any
            <span class="text-primary">AI</span>
            model
            <span class="text-primary">on any device</span>
        </h1>
        <h1 class="text-4xl text-neutral-900 sm:text-5xl dark:text-white">Secure, fast & open-source</h1>
        <p class="mx-auto mt-6 max-w-xl text-lg/8 text-pretty text-neutral-600 dark:text-neutral-300">Run text, vision, and
            speech models locally.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            {% button "Try in 2 minutes", "https://docs.nobodywho.ooo/python/", "" %}
            {% button "Explore Docs", "https://docs.nobodywho.ooo/", "secondary" %}
        </div>
    </div>
</div>
