<div class="px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl dark:text-white">
            <span class="bg-gradient-to-r from-blue-600 to-gray-900 bg-clip-text text-transparent dark:from-blue-400 dark:to-white">European</span> open-source AI</h2>
        <p class="mx-auto mt-6 max-w-xl text-lg/8 text-pretty text-gray-600 dark:text-gray-300">The library is
            <a href="{{ site.github_url }}" class="font-semibold hover:text-gray-800" target="_blank">open source</a>
            under EUPL 1.2 and is free for both individuals and
                                                companies.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="#" class="text-sm/6 font-semibold text-gray-900 dark:text-white">Contact us
                <span aria-hidden="true">→</span>
            </a>
        </div>
    </div>
</div>