<div class="py-24 sm:py-32" x-data="{ tab: 'flutter' }">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 flex justify-center">
        <div class="grid grid-cols-1 sm:hidden">
            <select
                aria-label="Select a tab"
                x-model="tab"
                class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-2 pr-8 pl-3 text-base text-neutral-900
                    outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600
                    dark:bg-gray-800/50 dark:text-neutral-100 dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-primary-500">
                <option value="flutter">Flutter</option>
                <option value="python">Python</option>
                <option value="godot">Godot</option>
            </select>
            <svg
                viewbox="0 0 16 16"
                fill="currentColor"
                data-slot="icon"
                aria-hidden="true"
                class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end fill-gray-500
                    dark:fill-gray-400">
                <path
                    d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75
                        0 0 1 0-1.06Z"
                    clip-rule="evenodd"
                    fill-rule="evenodd"/>
            </svg>
        </div>
        <div class="hidden sm:block">
            <nav aria-label="Tabs" class="flex space-x-4 bg-neutral-100 p-1 rounded-xl">
                <a
                    href="#"
                    @click.prevent="tab = 'flutter'"
                    :class="tab === 'flutter' ? 'rounded-xl bg-white dark:bg-primary-600 font-semibold text-neutral-900 dark:text-primary-100' : 'rounded-full font-medium text-neutral-600 hover:text-neutral-900 dark:text-neutral-400 dark:hover:text-neutral-200'"
                    class="px-7 py-1.5 text-lg">
                    Flutter</a>
                <a
                    href="#"
                    @click.prevent="tab = 'python'"
                    :class="tab === 'python' ? 'rounded-xl bg-white dark:bg-primary-600 font-semibold text-neutral-900 dark:text-primary-100'
                        : 'rounded-full font-medium text-neutral-600 hover:text-neutral-900 dark:text-neutral-400 dark:hover:text-neutral-200'"
                    class="px-7 py-1.5 text-lg">
                    Python</a>
                <a
                    href="#"
                    @click.prevent="tab = 'godot'"
                    :class="tab === 'godot' ? 'rounded-xl bg-white dark:bg-primary-600 font-semibold text-neutral-900 dark:text-primary-100'
                        : 'rounded-full font-medium text-neutral-600 hover:text-neutral-900 dark:text-neutral-400 dark:hover:text-neutral-200'"
                    class="px-7 py-1.5 text-lg">
                    Godot</a>
            </nav>
        </div>
    </div>
    <div class="mx-auto max-w-5xl px-4 lg:px-8 py-10 sm:py-12 sm:pt-26 pt-10">
        <div class="terminal" x-show="tab === 'flutter'">
            <div class="terminal__header">
                <div class="terminal__dots">
                    <span class="terminal__dot terminal__dot--red"></span>
                    <span class="terminal__dot terminal__dot--yellow"></span>
                    <span class="terminal__dot terminal__dot--green"></span>
                </div>
            </div>
            <div class="terminal__body">
                {% include "partials/index/snippets/_flutter.njk" %}
            </div>
        </div>
        <div class="terminal" x-show="tab === 'python'">
            <div class="terminal__header">
                <div class="terminal__dots">
                    <span class="terminal__dot terminal__dot--red"></span>
                    <span class="terminal__dot terminal__dot--yellow"></span>
                    <span class="terminal__dot terminal__dot--green"></span>
                </div>
            </div>
            <div class="terminal__body">
                {% include "partials/index/snippets/_python.njk" %}
            </div>
        </div>
        <div class="terminal" x-show="tab === 'godot'">
            <div class="terminal__header">
                <div class="terminal__dots">
                    <span class="terminal__dot terminal__dot--red"></span>
                    <span class="terminal__dot terminal__dot--yellow"></span>
                    <span class="terminal__dot terminal__dot--green"></span>
                </div>
            </div>
            <div class="terminal__body">
                {% include "partials/index/snippets/_godot.njk" %}
            </div>
        </div>
    </div>
</div>