<!DOCTYPE html>
<html lang="en">
    {% include "partials/_head.njk" %}
    <body>
        {% include "partials/_menu.njk" %}
        <main class="font-sans leading-normal tracking-normal bg-white dark:bg-neutral-900">
            {% block content %}
                <div class="flex justify-center pt-0 lg:pt-8">
                    <article class="prose lg:prose-xl divide-y">
                        <div>
                            <h1 class="font-bold mt-12 mb-10">
                                {{ title }}
                            </h1>
                            {{ content | safe }}
                            <div class="mb-10 mt-20">
                                <p class="font-light mb-5 italic text-gray-800">Published {{ date|dateFormating }}</p>
                                <div class="flex flex-wrap">
                                    {% for category in categories %}
                                        <p class="badge mb-3 font-light select-none">{{ category }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                {# {% include "partials/_nextPreviousPost.njk" %} #}
            {% endblock %}
            {% include "partials/_footer.njk" %}
        </main>
        <script src="/js/elements.js" type="module"></script>
        <script defer src="/js/alpine.js?v=3.10.4"></script>
    </body>
</html>