<div class="px-6 pb-24 sm:pb-32 lg:px-8">
    <div class="mx-auto max-w-6xl">
        <h2 class="max-w-4xl text-3xl text-neutral-900 sm:text-4xl dark:text-white">We're a small team excited about on-device AI</h2>
        <p class="mt-6 text-lg/8 text-pretty text-neutral-600 dark:text-neutral-300">Our headquarter is in Copenhagen, Denmark. We're always on the lookout to add kind, thoughtful, and exceptionally talented individuals to our team. Drop us a line if you're motivated by the intersection of individual developer experience and global scale at <a href="mailto:info@nobodywho.ai" class="text-primary">info@nobodywho.ai</a></p>
    </div>
</div>
