@import "tailwindcss";
/* @source not "src/assets/css/tailwind-dist.css"; */

@font-face {
    font-family: "Satoshi";
    src: url("/assets/fonts/Satoshi-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/assets/fonts/Satoshi-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/assets/fonts/Satoshi-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("/assets/fonts/dm-sans-400-normal.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("/assets/fonts/dm-sans-400-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("/assets/fonts/dm-sans-500-normal.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("/assets/fonts/dm-sans-500-italic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("/assets/fonts/dm-sans-600-normal.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "DM Sans";
    src: url("/assets/fonts/dm-sans-600-italic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@plugin "@tailwindcss/typography";

@theme {
    --font-satoshi: "Satoshi", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --color-primary: #628395;
    /* https://uicolors.app/generate/2f464f */
    --color-primary-50: #f3f7f8;
    --color-primary-100: #e1e9ec;
    --color-primary-200: #c6d4db;
    --color-primary-300: #9eb6c2;
    --color-primary-400: #628395;
    --color-primary-500: #547486;
    --color-primary-600: #496071;
    --color-primary-700: #3f515f;
    --color-primary-800: #394651;
    --color-primary-900: #333d46;
    --color-primary-950: #1f262d;
}

@utility background-hover {
    background-color: var(--color-gray-50);
}

@utility hover-link {
    fill: var(--color-gray-800);
    color: var(--color-gray-800);
}

@layer components {
    .main-container {
        @apply px-8 sm:px-0 max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-5xl mx-auto;
    }

    .badge {
        @apply bg-white px-5 py-1 rounded-full border border-current/20 mr-3;
    }

    p, span, li, td, th, label, blockquote, figcaption, a {
        font-family: "DM Sans", sans-serif;
        font-weight: 400;
    }

    code, pre, code *, pre * {
        font-family: inherit;
    }

    p {
        @apply mb-2 sm:mb-4 md:mb-6 lg:mb-8;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Satoshi", sans-serif;
        font-weight: 500;
    }
}

/* Make sure that in articles, `some code e.g` render well */
@layer utilities {
    .prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before,
    .prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
        content: none;
    }

    .prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
        font-weight: 400;
        background-color: var(--color-gray-200);
        padding: 0.15em 0.2em;
        border-radius: 0.25rem;
    }

    .prose.dark\:prose-invert :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
        background-color: var(--color-neutral-200);
        color: var(--color-gray-800);
    }
}