@import "tailwindcss";
/* @source not "src/assets/css/tailwind-dist.css"; */

@font-face {
    font-family: "Satoshi";
    src: url("/assets/fonts/Satoshi-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/assets/fonts/Satoshi-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/assets/fonts/Satoshi-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@plugin "@tailwindcss/typography";

@theme {
    --font-satoshi: "Satoshi", sans-serif;
    --color-primary: #628395;
    /* https://uicolors.app/generate/2f464f */
    --color-primary-50: #f3f7f8;
    --color-primary-100: #e1e9ec;
    --color-primary-200: #c6d4db;
    --color-primary-300: #9eb6c2;
    --color-primary-400: #628395;
    --color-primary-500: #547486;
    --color-primary-600: #496071;
    --color-primary-700: #3f515f;
    --color-primary-800: #394651;
    --color-primary-900: #333d46;
    --color-primary-950: #1f262d;
}

@utility background-hover {
    background-color: var(--color-gray-50);
}

@utility hover-link {
    fill: var(--color-gray-800);
    color: var(--color-gray-800);
}

@layer components {
    .main-container {
        @apply px-8 sm:px-0 max-w-xl md:max-w-2xl lg:max-w-4xl xl:max-w-5xl mx-auto;
    }

    .badge {
        @apply bg-white px-5 py-1 rounded-full border border-current/20 mr-3;
    }

    p {
        @apply mb-2 sm:mb-4 md:mb-6 lg:mb-8;
        font-family: "Satoshi", sans-serif;
        font-weight: 400;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Satoshi", sans-serif;
        font-weight: 500;
    }
}