---
layout: base
title: Apps
tags: page
order: 3
---

<div class="px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-6xl">
        <h1 class="max-w-4xl text-left text-4xl text-neutral-900 sm:text-5xl dark:text-white">Our Apps</h1>
        <div class="mt-16 grid grid-cols-1 gap-10 lg:grid-cols-5 lg:items-center">
            <div class="flex items-center justify-center rounded-2xl bg-gray-200 aspect-square p-16 lg:col-span-2 dark:bg-neutral-800">
                <img src="/assets/images/apps/apple-watch.png" alt="NobodyWho Watch" class="max-h-full object-contain">
            </div>
            <div class="lg:col-span-3">
                <h2 class="text-2xl font-semibold tracking-tight text-neutral-900 sm:text-3xl dark:text-white">NobodyWho Wrist</h2>
                <p class="mt-4 text-lg/8 text-neutral-600 dark:text-neutral-300">The world's first app to run AI entirely on your Apple
                    Watch.</p>
                <a
                    href="https://apps.apple.com/us/app/nobodywho-wrist/id6762020355?platform=watch"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="mt-6 inline-block rounded-md bg-primary px-4 py-2.5 text-sm font-semibold text-white shadow-sm
                        hover:bg-primary/80">
                    Download</a>
            </div>
        </div>
    </div>
</div>