---
layout: base
title: Home
tags: page
order: 1
---

{% include "partials/index/_intro.njk" %}
{% include "partials/index/_ai-logos.njk" %}
{% include "partials/index/_terminal-demo.njk" %}
{% include "partials/index/_any-platform.njk" %}
{% include "partials/index/_bento-features.njk" %}
{% include "partials/index/_outro.njk" %}