---
layout: base
title: Blog
order: 4
tags: page
pagination:
    data: collections.posts
    size: 10
    alias: posts
    reverse: true
permalink: "/posts/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}"
---

{% set selectedCategory = "all" %}
{% set postsToShow = posts %}
{% set pageHrefs = pagination.hrefs %}
{% set currentPage = pagination.pageNumber %}
{% set prevHref = pagination.href.previous %}
{% set nextHref = pagination.href.next %}
{% include "partials/_blog-list.njk" %}
