---
layout: base
title: Run AI locally - Starter pack
tags: pageHiddenInMenu
---

{% include "partials/starter-pack/_nobodywho-starter-examples.njk" %}
{% include "partials/starter-pack/_community-examples.njk" %}