<footer class="text-black pb-4 pt-14 sm:pt-20 md:pt-32 flex flex-row items-center">
    <div class="main-container flex flex-row space-x-6">
        <a aria-label="github" target="_blank" href="{{ site.github_url }}">
            <svg class="fill-gray-500 hover:hover-link" width="26px" height="26px">{% svg "github" %}</svg>
        </a>
        <a aria-label="linkedin" target="_blank" href="{{ site.linkedin_url }}">
            <svg class="fill-gray-500 hover:hover-link" width="26px" height="26px">{% svg "linkedin" %}</svg>
        </a>
        <a aria-label="email" target="_blank" href="{{ site.email_url }}">
            <svg class="fill-gray-500 hover:hover-link" width="26px" height="26px">{% svg "email" %}</svg>
        </a>
    </div>
</footer>